

.leaflet-container {  /* all maps */
    width:  600px;
    height: 400px;
}

#mapid {
    height: 500px;
    padding: 10px;
    top: 10px;
    bottom: 0;
    right: 0;
    float: left;
}

.map-stuff {
    float: left;
    position: sticky;
}

/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
    width: 100%;
}

.hidden-coords {
    display: none;
}

.container-form {
    padding: 10px;
    float: none;
}

/* #container-coords {
    padding: 10px;
    left: 0px;
    position: static;
} */

