

.leaflet-container {  /* all maps */
    width:  600px;
    height: 400px;
   
}

/* user profil pic */
.fit-image{
    width: 100%;
    object-fit: cover;
    height: 200px;        /*  only if you want fixed height */
    border: solid 2px;
    border-color: rgb(7, 43, 25);
    }
    

#mapid {
    height: 500px;
    top: 10px;
    bottom: 0;
    right: 0;
    
}

.map-stuff {
    border: 1px; 
    padding: 5px; 
    border-color: seagreen;
    float: left;
}

.container-form {
    padding: 10px;
    float: right;
    
}

.map-page {
    display: flex;
}
 

/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
    width: 100%;
}

.hidden-coords {
    display: none;
}



#details {
    width: 400px; 
    height: 100px; 
    border: 1px solid #999999; 
    padding: 5px; 
}


.container-fluid{
    display: flex;
    border: solid;
    border-color: steelblue;
    border-width: 100%;
  }

.h3 {
    text-align: right;
    font-family: Helvetica;
    float: right;
    align-items: center;
}


/* Media Queries */
/* 
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #mapid {
    height: 300px;
    top: 10px;
    }}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

 */
