
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>


<!-- Coordinates  -->

<div id="container-coords">
    <h4>Know a spot with edible or medicinal plants?</h4>
    <p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Get Coordinates</button>
<p id="demo"></p>
</div>

<!-- DB Form  -->
<div class="container-form">
<form action="save_details" method="post">
  <label for="details">Details: </label>
  <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
  <input type="submit" value="OK">

<p>Select the specimen provided on this drop-down list:</p>

  <select name="cars">
    <option value="">Select your option</option>
    <option value="blackberry">Black berry</option>
    <option value="lavender">Lavender</option>
  </select>
  <br><br>
  <input type="submit">
</form>
</div>



<!-- map -->
<div id="mapid">map</div>




 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<!-- <script src="street_biter_app/static/js/style.js"></script> -->
    <script src="{% static 'js/style.js'%}"></script>
{% endblock %}