
{% extends 'base.html' %}
{% load static %}

{% block content %}


 

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>


<!-- Coordinates  -->
<div id="container-coords">
    <h4>Know a spot with edible or medicinal plants?</h4>
    <p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Get Coordinates</button>
<p id="demo"></p>

<script>
var x = document.getElementById("demo");
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } 
  else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}

marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

L.marker([45.502438399999996,-122.67488600000001]).addTo(map);

var popup = L.popup()
    .setLatLng([45.502438399999996, -122.67488600000001])
    .setContent("I am a standalone popup.")
    .openOn(mymap);


</script>
</div>

<!-- map -->
<div id="mapid">map</div>




 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<!-- <script src="street_biter_app/static/js/style.js"></script> -->
    <script src="{% static 'js/style.js'%}"></script>
{% endblock %}