
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>


<!-- Coordinates  -->
<div class="container-form">
<div id="container-coords">
    <h4>Know a spot with edible or medicinal plants?</h4>
    <p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Get Coordinates</button>
<p id="demo"></p>
</div>

<!-- DB Form  -->


  <p>Select the specimen provided on this drop-down list:</p>
<form action="{% url 'save_details' %}" method="POST">
  {% csrf_token %}
  <label for="details">Details: </label>
  <input id="details" type="text" name="details" placeholder="Add details">
  <!-- hidden coords values  -->
  <input type="text" id="lat" class="hidden-coords" name="lat">
  <input type="text" id="long" class="hidden-coords" name="long">

<!-- Drop-down species list -->
  <select name="species-list">
    <option value="">Select your option</option>
  <optgroup label="Berries">
    <option value="blackberry">Black Berry</option>
    <option value="elderberry">Elder Berry</option>
    <option value="cloudberry">Cloud Berry</option>
    <option value="marrionberry">Marrion Berry</option>
    <option value="lavender">Lavender</option>
    <option value="sage">Sage</option>
    <option value="rosemary">Rosemary</option>
    <option value="stjonswort">St. John's Wort</option>
    <option value="pricklypear">Prickly Pear Cactus</option>
  </optgroup>
  <optgroup label="Trees">
    <option value="figtree">Fig Tree </option>
    <option value="persimmontree">Persimmon Tree</option>
    <option value="kiwitree">Kiwi Tree</option>
    <option value="appletree">Apple Tree</option>
    <option value="hawthorne">Hawthorne Tree</option>
    </optgroup>
  </select>
  <br><br>
  <input type="submit">
</form>
</div>


<!-- map -->
<div class="map-stuff">
<div id="mapid">map</div>
</div>




 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<!-- <script src="street_biter_app/static/js/style.js"></script> -->
    <script src="{% static 'js/style.js'%}"></script>
{% endblock %}