{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

<div class="sweetspot-content">
    <div class="row">
    <div class="col-sm-12">
        <div class="map-sweetstuff">
            <div id="sweetspotsid">map</div>
            </div>
        </div>
    </div>
    <!-- <div class="row row-sm-5">
        <div class="col col-sm-10" id="card-row1"> -->
    {% for sweetspot in sweetspots %}
<!-- 
        <div class="card sweetspot-card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Sweetspot No.{{ sweetspot.id }}</h5>
                <p class="card-text">Details about your discovery</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <b>Location:</b> <br> {{ sweetspot.latitude }} {{ sweetspot.longitude }}</li>
                <li class="list-group-item"><b>User:</b> <br> {{ sweetspot.user }}</li>
                <li class="list-group-item"><b>Species:</b> <br> {{ sweetspot.species }}</li>
            </ul>
            <div class="card-body">
            <a href="" class="card-link">Read More</a>
            </div>
        </div> -->

<!-- map markers  -->
    <div class="mysweetcoords" 
                data-latitude="{{ sweetspot.latitude }}" 
                data-longitude="{{ sweetspot.longitude }}"
                data-species="{{ sweetspot.species }}"
                data-sweetspotid="{{ sweetspot.id }}"
                data-user="{{ sweetspot.user}}">
    </div> 

    {% endfor %}
            </div>   
            </div>
        </div>
            

 





<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>

<script src="{% static 'js/sweetspots.js' %}"></script>
{% endblock %}