/* this is css for lab 3 */

.top-section {
    text-align: center;
}
.title  {
    font-family:'Oswald', sans-serif; 
    font-size:24px; 
    font-weight:400; 
    text-transform: uppercase; 
    color:black; 
    padding:20px; 
    margin:0;
    text-align: center;
        }

.container {
    text-align: center;
    }

#top-section .parallax-one {
    padding-top: 200px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(https://cdn.pixabay.com/photo/2019/09/13/21/28/cbd-4474897_960_720.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
    }

.row {
    display: grid;
}

.card  img{
    height: 200px;
}

.card {
    margin: 10px;
}

/* Typography */
/**************************/
#top-section h1 {
    font-family:'Oswald', sans-serif; 
    font-size:24px; 
    font-weight:400; 
    text-transform: uppercase; 
    color:black; 
    padding:0; 
    margin:0;
    }
#top-section h2 {
    font-family:'Oswald', sans-serif; 
    font-size:70px; 
    letter-spacing:10px; 
    text-align:center; 
    color:white; 
    font-weight:400; 
    text-transform:uppercase; 
    z-index:10; 
    opacity:.9;
    }
#top-section h3 {
    font-family:'Oswald', sans-serif; 
    font-size:14px; 
    line-height:0; 
    font-weight:400; 
    letter-spacing:8px; 
    text-transform: uppercase; 
    color:black;
    text-align: center;
    padding: 20px;
    }

#top-section p {
    font-family:'Source Sans Pro', sans-serif; 
    font-weight:400; 
    font-size:14px; 
    line-height:24px;
    text-align: center;
    }




/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 959px) {
    #top-section .block {padding: 40px; width:620px;}
  }
  @media screen and (max-width: 767px) {
    #top-section .block {padding: 30px; width:420px;}
    #top-section h2 {font-size:30px;}
    #top-section .block {padding: 30px;}
    #top-section .parallax-one
  }
  @media screen and (max-width: 479px) {
    #top-section .block {padding: 30px 15px; width:290px;}
  }